@use './main';

:root {  
  --color: #272727;
  --colorR:#B78953;
  --color2: #FFF;
  --color3: #692721;
  --background0:#FFFAFA;
  --background: #FDF5E6;
  --background2: #964734;
  --background3: #4C563F;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #d8d8d8;
    --color2: #000;
    --color3: #692721;
    --background: #000;
    --background2: #1E1E1E;
    --background3: #BABABA;
  }
}

@font-face {
  font-family: 'Courier';
  src: local('Courier'), local('Courier'),
  url('/fonts/CourierRegular.woff') format('woff');
  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: 'Courier';
  src: local('Courier'), local('Courier'),
  url('/fonts/CourierBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'AcromW00';
  src: local('AcromW00'), local('AcromW00'),
  url('/fonts/258f25658f1456fd0206d4fb09b637fe.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AcromW00';
  src: local('AcromW00'), local('AcromW00'),
  url('/fonts/007e3053464a1b5fcb56734c7c18eabe.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
  font-family: Courier;
  color: var(--color);
  background-color: var(--background0);
  font-size: 18px;

  // @media #{main.$mob} {
  //   font-size: main.vwMax(14px);
  // }
}

input, select, button {
  font-family: Courier;
  color: var(--colorR);
  background-color: var(--background);
  font-size: 18px;
}

@mixin commons {
  font-family: Courier;  
  color: var(--item-color);
  font-weight: 500;
}

h1 {
  @include commons;
  font-size: 42px;
  font-weight: bold;
  color: #243533;

  // @media #{main.$mob} {
  //   font-size: main.vwMax(24px);
  // }
}

h2 {
  @include commons;
  font-size: 32px;
  font-weight: bold;

  // @media #{main.$mob} {
  //   font-size: main.vwMax(20px);
  // }
}

h3 {
  @include commons;
  font-size: 24px;
  font-weight: bold;
  color: var(--link-color);

  // @media #{main.$mob} {
  //   font-size: main.vwMax(18px);
  // }
}


h4 {
  @include commons;
  font-size: 20px;
  font-weight: bold;
  color: var(--link-color);

  // @media #{main.$mob} {
  //   font-size: main.vwMax(18px);
  // }
}

a {
    &:link {
    color: var(--color);
  }
  &:visited {
    color: var(--color);
  }
}