@use '../../../styles/main';

.Header {
  height: 120px;
  background-color: var(--background2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 main.$webSidePadding;
  font-size: 24px;
  gap: 50px;
}

.title {
  font-weight: bold;

  
    text-decoration: none;
     
    &:active,
    &:hover,
    &:visited {
      text-decoration: none !important;
    }
}