@use '../../../styles/main';

.Footer {
  height: 70px;
  background-color: var(--background3);
  color: var(--colorR);
  align-items: center;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  padding: 0 main.$webSidePadding;
}
